venv
bnc.par
penn.par
TreeTaggerDoc
Files
brown_annotated
Lab_Hands
raw_brown_data
RESULTS_RRC
brown_corpus.txt
WPR_accuracy.png
accuracy_per_tag.png
referencing_sets
testing_sets
tests_results
open_class.txt
lexicon_10_cleaned.txt
empty.txt
