venv
bnc.par
penn.par
TreeTaggerDoc
Files
brown_annotated
Lab_Hands
raw_brown_data
RESULTS_RRC
brown_corpus.txt
WPR_accuracy.png
accuracy_per_tag.png
referencing_sets
testing_sets
tests_results
open_class.txt
lexicon_10_cleaned.txt
empty.txt
gold_tmp.txt
test.ipynb
testing_sets_bnc/claws_c8/NCC.txt
testing_sets_bnc/claws_c8/TOKEN_PER_ROW/
testing_sets_bnc/claws_c8/that_CST.conllu
testing_sets_bnc/claws_c8/that_WPR.conllu
tests_results_after_retrain/CST_C8_predict_10.txt
tests_results_after_retrain/CST_C8_predict_100.txt
tests_results_after_retrain/CST_C8_predict_200.txt
tests_results_after_retrain/CST_C8_predict_30.txt
tests_results_after_retrain/CST_C8_predict_300.txt
tests_results_after_retrain/CST_C8_predict_500.txt
tests_results_after_retrain/CST_results_300.txt
tests_results_after_retrain/WPR_C8_predict_10.txt
tests_results_after_retrain/WPR_C8_predict_100.txt
tests_results_after_retrain/WPR_C8_predict_200.txt
tests_results_after_retrain/WPR_C8_predict_30.txt
tests_results_after_retrain/WPR_C8_predict_300.txt
tests_results_after_retrain/WPR_C8_predict_500.txt
tests_results_after_retrain/WPR_results_300.txt
wrong_that_sentences_WPR.tx
open-class.txt
testing_sets_bnc/claws_c8/CST_tokenized.txt
testing_sets_bnc/claws_c8/that_CST.txt